@font-face {
    font-family: openSans;
    src: url(font/OpenSans-Light.ttf);
}
body
{
	font-family:openSans !important;
}
.navbar-nav 
{
    margin-top: 12px;
    margin-right: 25px;
}    
.notification
{
	position: relative;
	left: 10px;
	bottom: 10px;
	padding: 2px;
	z-index: 2;
	background-color: #e02222;
	color: white;
	width: 21px;
	height: 23px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > 
.open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
	margin-left: 21px; 
}
.personal
{
	width: 189px;
    
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > 
.open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
	margin-left: 0px;
}
.note
{
	position: relative;
	font-size: 15px;
	color: #8a8a8a;
}
.navbar-nav
{
   float: right;
}
.navbar-default 
{
	background-color: #212121;
}
div img,p
{
	float: left;
	position: relative;
	/*bottom: 8px; hzbtha lma a3rf mkanha*/
	margin-right: 4px;
}
.name
{
	position: relative;
	margin-top: 15px;
	font-size: 15px;
}
.date
{
	font-weight: bold;
}
.dropdown-header
{
	height: 43px;
	font-size: small;
	font-weight: bold;
	/*border-bottom: 1px solid black;*/
	background-color: #eeeeee;
	line-height: 34px;
}
.navbar-nav > li > a
{
	padding-top: 15px;
	padding-bottom: 0px;
}
.label
{
	padding: 6px;
    margin-right: 5px;
}
.dropdown-menu > li > a
{
	height: 32px;
	line-height: 25px;
}
.dropdown-menu
{
	padding-top: 0px;
	height: 200px;
    overflow: auto;
}
.navbar
{
	margin-bottom: 0px;
	border-top: 3px solid #aaaaab;
}
.row
{
	margin-right: 0px;
    margin-left: -14px;
}
.side-bar
{
	position: relative;
	height: auto;
	width: 200px;
	background-color: #3d3d3d;
}
.side-head
{
	color: white; 
	padding-bottom: 10px;
	border-bottom: 1px solid #7d7d7d; 
}
.icon
{
	padding: 0px 4px 0px 4px;
}
.navbar-header
{
	width: 100%;
}
span.glyphicon-align-justify
{
	position: relative;
	float: left;
	font-size: 25px;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
}
.search
{
	border-bottom: 1px solid #7d7d7d;
	width: 165px;
	color: #7d7d7d;
	margin-bottom: 20px;
}
.itemOfTheMenu
{
	color: white;
	border-bottom: 1px solid #7d7d7d;
	padding: 10px 0px 0px 0px;
}
.itemOfTheMenu:hover
{
	background-color: #e02222;
}
.dropDown
{
	display: inline-block;
	position: relative;
	width: 100%
}
.dropDownContent
{
	position: relative;
	background-color: #3d3d3d;
    width: 200px;
    z-index: 1;
    display: none;
    margin-top: 4px;
    border-top: 2px solid #606060;
}
.dropDownContent a
{
	color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #606060;
    width: 100%;
}
.dropDownContent a:hover
{
	background-color: grey;
}
.itemOfTheMenu:hover .dropDownContent
{
	display: block;
}
.dropdown-menu > li > a.msg-content 
{
	height: 73px;
}
.msg
{
	width: 300px;
	/*overflow-x: hidden;*/
}
.new-msg
{
	font-size: 12px;
}
h4
{
	color: #02689b;
}
.col-lg-9 /*next to side bar*/
{
	/*background-color: grey;*/
	height: 200px;
	margin-left: 20px;
}
.last-table
{
	width: 75%;
	margin-right: 0px;
	margin-left: 0px;
}
.btn-group /*of breadcramp*/
{
	float: right;
	margin-top: -4px;
	margin-right: -8px;		
}
.btn /*of breadcramp*/
{
    padding: 0px 15px;
    height: 35px;
    border-radius: 0px;
    width: 120px;
}
.btn-default:hover
{
	background-color: #4d90fe;
	color: white;
}
.nav-pills
{
	border-bottom: 1px solid #dddddd; 
}
/*.col-lg-4 msh 3arf mkanha
{
	background-color: grey;
	height: 200px;
}
*/
.drop-down
{
	display: block;
}
.over-veiw
{
	margin-top: 10px;
}
.thumbnail
{
	border: none;
}
.menu
{
	padding: 10px;
	background-color: #ecf5fb;
}
.list-inline > li
{
	padding-right: 4px;
}
.menu a
{
	color: #718998;
	text-decoration: none;
}
.menu a:hover
{
	color: #6ab8f6;
}
.thumbnail > img, .thumbnail a > img
{
   /* margin-top: 15px;*/
}
.sales
{
	border-bottom: 1px solid #dddddd;
	padding: 10px;
}
th
{
	background-color: #f0f6fa;
}
tr:hover
{
	background-color: #f0f6fa;
}
.table > tbody > tr > td, .table > tfoot > tr > td 
{
	padding: 2px;
}
.nav > li > a
{
	padding: 10px 6px;
	
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	border-top: 3px solid red;
}
.label
{
	padding: 1px;
}
.last-tab
{
	margin-top: 60px;
}
footer
{
	background-color: #3d3d3d;
	height: 40px;
	color: #8f8f8f;
	font-size: 13px;
}
/*------------------------------*/
/*account tab*/
/*------------------------------*/
.list-group-item:first-child
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.list-group-item:last-child
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.list-group-item
{
	background-color : #f0f6fa;
	border : none;
	border-bottom : 1px solid white;
}
.account
{
	padding-top: 20px;
}
.form-control
{
	border-radius: 0px;
}
.glyphicon-cog
{
	font-size: 16px;
}
.list-unstyled .active
{
	background-color: #169ef4;
	border: none;
	border-bottom: 1px solid white;
}
.Password-btn
{
	width: 145px;
}
/*--------------------------*/
/*projects page*/
/*-------------------------*/
.project-title
{
	margin-top: 10px;
	height: 67px;
	background-color: #f0f6fa;
	padding: 20px;
}
.project-label
{
	line-height: 33px;
	padding: 6px;
	border-radius: 0px;
}
.lead
{
	line-height: 30px;
}
.project-add
{
	padding : 2px;
	border : 1px solid white; 
	border-radius : 50%;
}
.identity
{
  height: 60px;
}
.klam
{
  position: relative;
  top : 35px;
}

{
  padding-bottom: 10px;
}